.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: var(--font-weight-bold);
    font-size: 2rem;
    flex-shrink: 1;
}

.active {
    color: var(--accent-color);
}

.container {
    display: flex;
    flex-wrap: nowrap;
}