.form {
    width: 60%;
    padding: var(--padding-main);
    border: none;
    margin-bottom: var(--margin-bottom-l);
}

.title {
    font-size: 2rem;
    margin-bottom: var(--margin-bottom-l);
}

.container {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);
    margin-bottom: var(--margin-bottom-l);
}

.form_input_title {
    margin-bottom: var(--margin-bottom-m);
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
}

.form_input {
    padding: 6px 12px;
    width: 100%;
    border-radius: 6px;
    background-color: var(--white-color);
}

.form_error {
    color: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .form {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        margin-bottom: var(--margin-bottom-l);
    }
}